
.c-list{
    padding-top: 8px;
    padding-left: 30px;
    padding-bottom: 8px;
    list-style-type: disc;
    &.list-style-decimal{ list-style-type: decimal;}
    &.tos-footer{
	list-style-type: none;
	text-align: right;
	padding-left: 0;
    }
    &__item{
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 1.6;
	letter-spacing: 1px
    }
}
